<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Game</title>
    <style>
        * {
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Room Home page</h1>
    <h2>Email: {{ user.email }}</p>
    <h2>Name: {{ user.first_name }} {{ user.last_name }}</p>
    <h2>Username: {{ user.username }}</p>
    <h2>Profile Picture: <img style="border-radius: 50%;" src="{{ user.socialaccount_set.all.0.get_avatar_url }}"></h2>
    <h2><a href="/logout">Logout</a></h2>

    <hr>

    <h1>Room Details</h1>
    <h2>ID: {{ room.id }}</h2>
    <h2>Creator: {{ room.creator }}</h2>
    <h2>Players: {{ room.players }}</h2>
    <h2>Config: {{ room.config }}</h2>
    <h2>Waiting: {{ room.waiting }}</h2>
    <h2>Created_at: {{ room.created_at }}</h2>
    <h2>Updated_at: {{ room.updated_at }}</h2>
</body>
</html>